<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Classes</title>
<style>
	.btn{
		width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 10px;
    margin-left:40%;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
	}
	.btn:hover{
		 background:black;
    color: #ff7200;
	}
</style>
</head>
<body bgcolor="gray">
   <button class="btn"><a href="FirstClass.jsp">First Class</a></button><br/>
   <button class="btn"><a href="SecondClass.jsp">Second Class</a></button><br/>
   <button class="btn"><a href="ThirdClass.jsp">Third Class</a></button><br/>
   <button class="btn">Fourth Class</button><br/>
   <button class="btn">Fifth Class</button><br/>
   <button class="btn">Sixth Class</button><br/>
   <button class="btn">Seventh Class</button><br/>
   <button class="btn">Eighth Class</button><br/>
   <button class="btn">Ninth Class</button><br/>
   <button class="btn">Tenth Class</button><br/>
</body>
</html>